:host {
  ion-content {
    --background: #fc0f85;
    --color: #ffffff;
    padding: 20;
  }
  ion-modal {
    --width: fit-content;
    --min-width: 250px;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
    --height: 50%;
  }
  
  ion-modal h1 {
    margin: 20px 20px 10px 20px;
  }
  
  ion-modal ion-icon {
    
    width: 48px;
    height: 48px;
    padding: 4px 0;
    color: #aaaaaa;
  }
  
  ion-modal {
    margin-bottom: 10px;
  }
}