<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="dashboard">
                <ion-icon name="home"></ion-icon>
        </ion-tab-button>

        <!-- <ion-tab-button tab="">
                <ion-icon name="clipboard"></ion-icon>
        </ion-tab-button> -->

        <ion-tab-button tab="clases">
            <ion-icon name="bookmarks"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="plans">
            <ion-icon name="list-box"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="profile">
            <ion-icon name="person"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
<!-- <div><h1>holaaaa</h1></div> -->