<!-- <app-navbar titulo="Tus Reservas"></app-navbar> -->

<ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content 
            pullingIcon="null"
            pullingText="Arrastra para actualizar"
            refreshingSpinner="crescent"
        >
        </ion-refresher-content>
    </ion-refresher>

    <!-- alerta de clase pendiente -->
    <div style="margin-bottom: 24px;" class="card card-alert card-alert-reserva" *ngIf="alerts.has_confirmation"  (click)="goToEditConfirm(alerts.confirmation.clase_id)">
        <div class="ps-row">
            <div class="col-2 icon">
                <ion-icon src="/assets/icon/calendar.svg"></ion-icon>
            </div>

            <div class="col-10 text">
                <p>
                    Tienes una clase reservada a las {{ alerts.confirmation.start }} ¡Confírma tu asistencia!
                </p>
            </div>
        </div>
    </div>

    <div class="section" *ngIf="pendient.length > 0">
        <h1 class="title-section">Sin Confirmar</h1>
        
        <div class="clases-cards">
            <div class="clase-card" *ngFor="let clase of pendient" (click)="goToEditConfirm(clase.clase_id)"  >
                <div class="ps-row" align-items-center>
                    <div class="col-3 class-type">
                        <img class="class-icon" [src]="clase.rels.claseType.icon">
                    </div>
                    
                    <div class="col-10 class-data">
                        <h2>{{ clase.dateHuman }}</h2>
                        
                        <p class="type-class">CrossFit</p>
                        
                        <p>{{ clase.start }} - {{ clase.end }} hrs</p>
                    </div>

                    <div class="col-2">
                        <ion-icon src="assets/icon/arrow-right-black.svg"></ion-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <!-- <hr class="separator"> -->

    <div class="section" style="padding-bottom: 50px;" *ngIf="confirmed.length > 0">
        <h1 class="title-section">Confirmadas</h1>
        
        <div class="clases-cards">
            <div class="clase-card" *ngFor="let clase of confirmed" (click)="goToEditConfirm(clase.clase_id)">
                <div class="ps-row" align-items-center>
                    <div class="col-3 class-type">
                        <img class="class-icon" [src]="clase.rels.claseType.icon">
                    </div>

                    <div class="col-10 class-data">
                        <h2>{{ clase.dateHuman }}</h2>
                        
                        <p class="type-class">CrossFit</p>
                        
                        <p>{{ clase.start }} - {{ clase.end }} hrs</p>
                    </div>

                    <div class="col-2">
                        <ion-icon src="assets/icon/arrow-right-black.svg"></ion-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="clases-cards" *ngFor="let wod of todayWods" (click)="goTo(wod)">
        <div class="clase-card today">
            <div class="ps-row" align-items-center>
                <div class="col-3 class-type">
                    <img class="class-icon" [src]="wod.rels.claseType.iconWhite">
                </div>

                <div class="col-10 class-data">
                    <h2 style="margin-bottom: 4px; text-transform: capitalize;">
                        {{ wod.claseType }}
                    </h2>
                    <!-- <p class="type-class">{{wod.claseType}}</p> -->
                    <div *ngIf="wod.rels.auth.reservationHas">
                        <p *ngIf="wod.rels.auth.todayReservation.status === 1">
                            Tienes una clase sin confirmar a las {{ wod.rels.auth.todayReservation.star }}
                        </p>

                        <p *ngIf="wod.rels.auth.todayReservation.status === 2">
                            Tienes una clase a las {{ wod.rels.auth.todayReservation.start }}
                        </p>

                        <p *ngIf="wod.rels.auth.todayReservation.status === 3">
                            Tuviste clase a las {{ wod.rels.auth.todayReservation.start }}
                        </p>

                        <p *ngIf="wod.rels.auth.todayReservation.status === 4">
                            Perdiste tu clase a las {{ wod.rels.auth.todayReservation.start }}
                        </p>
                    </div>

                    <div *ngIf="!wod.rels.auth.reservationHas">
                        <p>No tienes clases reservadas hoy</p>
                    </div>
                </div>

                <div class="col-2">
                    <ion-icon src="assets/icon/arrow-right.svg"></ion-icon>
                </div>
            </div>
        </div>
    </div>

    <div class="clase-card" *ngFor="let clase of clases" (click)="goClase(clase.clase_id)">
        <div class="ps-row" align-items-center>
            <div class="col-3 class-type">
                <img class="class-icon" [src]="clase.rels.claseType.icon">
            </div>
             <div class="col-10 class-data">
                <h2>{{ clase.dateHuman }}</h2>
                
                <p class="type-class">CrossFit</p>
                
                <p>{{ clase.start }} - {{ clase.end }} hrs</p>
            </div>
            
            <div class="col-2">
                <ion-icon src="assets/icon/arrow-right-black.svg"></ion-icon>
            </div>
        </div>
    </div>

  <!-- <div [ngClass]="buttonFixIOS">
    <button class="reservar" (click)="goToAddDay()">Nueva Reserva</button>
  </div> -->

    <ion-fab [ngClass]="buttonFixIOS" vertical="bottom" slot="fixed">
        <div class="reservar" (click)="goToAddDay()">Nueva Reserva</div>
    </ion-fab>
</ion-content>

<ion-footer>
    <div [ngClass]="buttonFixAndroid">
        <button class="reservar" (click)="goToAddDay()">Nueva Reserva</button>
    </div>
</ion-footer>
